{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "document": true,
    "navigator": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
